.ibanner {
    width: 1200px;
    margin: 0 auto;
    position: relative;

    .hd {
        height: 16px;
        overflow: hidden;
        position: absolute;
        right: 50%;
        margin-right: -40px;
        bottom: 20px;
        z-index: 1;
        cursor: pointer;

        ul {

            li {
                float: left;
                margin: 0 5px;
                width: 16px;
                height: 16px;
                line-height: 14px;
                text-align: center;
                /* background: #fff; */
                /* cursor: pointer; */
                /* opacity: 0.5; */
                /* border-radius: 50px; */
                background: url(../img/icon.png) center center no-repeat;
            }

            .on {
                width: 16px;
                height: 16px;
                background: url(../img/icon_hover.png) center center no-repeat;
            }
        }
    }

    .bd {
        ul {

            li {
                display: none;
            }

            .on {
                display: list-item;
            }
        }
    }

    .arrow {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        z-index: 5;
        border-top: 3px solid #fff;
        border-right: 3px solid #fff;
        cursor: pointer;
        transition: border-color 0.3s ease-out;
    }

    .arrow:hover {
        border-color: #93278f;
    }

    .prev {
        left: 20px;
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
    }

    .next {
        right: 20px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}